$secodaryGray: #535353;
$primaryGray: #333333;
$searchGray: #5A5A5A;
$brightGray: #777777;
$orange: #F15454;
$heading: #AAAAAA;
$bookDescMain: #CCCCCC;
$bookDescSecondary: #999999;

$headingSize: 32px;
